@media only screen and (max-width: 1170px) {
  .mypicture {
    display: none;
  }
  .respon_img {
    display: block;
    width: 100%;
  }

  .aboutmesec {
    display: block;
  }
  .aboutme {
    max-width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .hireme {
    text-align: center;
  }
  .myskills {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
  }
  .socials {
    text-align: center;
  }
  .sectionmoreinf {
    height: 274px;
    padding-top: 80px;
  }
  .moreimg_img {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    background-color: black;
  }

  .myslides {
    opacity: 0.6;
  }
  .headertext > h1,
  .headertext > span,
  .number,
  .info,
  .myprofese h1,
  .myprofesediv span,
  .precent,
  .precent span {
    color: white;
  }
  .number {
    opacity: 0.3;
  }
  .line {
    border-color: white;
  }
  .sectinfo {
    padding: 30px 0px;
  }
  .sectinfoflex {
    display: block;
    text-align: center;
  }
  .sectinfoflex div {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .sectinfoflex > div {
    border-bottom: 1px solid white;
    padding: 20px 0px;
  }
  .sectinfoflex > div:first-child {
    padding-top: 0px;
  }
  .heavy {
    display: none;
  }
  .evalutiontext {
    display: none;
  }
  .horizontalslide {
    padding: 15px 0px;
  }
  .moreimg_img {
    max-height: 280px;
    overflow: hidden;
  }
  .list_img {
    display: inherit;
  }
  .sidelist {
    max-width: none;
    text-align: center;
  }
  .sidelist > h3 {
    display: inline-block;
    line-height: 20px;
    margin: 5px 10px;
  }
  .moreimg {
    width: 100%;
  }
  .latest_project .container {
    padding: 0px;
  }
  .news_items {
    display: block;
  }
  .news_graph {
    width: 100%;
  }
  .news_grap_img {
    width: 100%;
  }
  .columnreverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .news_title {
    margin-top: 40px;
  }
  .news_grap_img > img {
    height: 360px;
  }
  .news_graph_info > h1 {
    font-size: 30px;
  }
  #contactform {
    max-width: 700px;
    margin: 0px auto;
  }
  .forminput input {
    padding: 10px;
  }
}
@media only screen and (max-width: 980px) {
  .sectionmoreinf {
    width: calc(50% - 6px);
  }
  .rosateam_item:last-child {
    display: none;
  }
}

@media only screen and (max-width: 670px) {
  .headertext > h1 {
    font-size: 35px;
  }
  .headeraboutme {
    padding-left: 15px;
    padding-right: 15px;
  }
  .right_info {
    max-width: 142px;
    top: -20px;
  }
  .number {
    font-size: 85px;
  }
  .info {
    font-size: 25px;
    top: 50px;
    right: 0px;
  }
  .myprofese {
    justify-content: center;
    margin-top: -72px;
  }
  .myprofese h1 {
    font-size: 25px;
  }
  .myprofese h1 b {
    font-size: 20px;
  }
  .lasttext {
    right: 15px;
    font-size: 20px;
  }
  .evalutioninfo > img {
    width: 140px;
    margin-top: 15px;
  }
  .developeritem {
    margin-top: 10px;
    margin-left: 15px;
  }
  .evalutioninfo h1 {
    font-size: 20px;
  }
  .moreimg_img {
    max-height: 240px;
  }
  .rosateam_item {
    width: 50%;
  }
  .rosateam_info {
    flex-wrap: wrap;
  }
  .rosa_title h1,
  .basictext,
  .news_title > h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .rosa_team {
    margin: 40px 0px;
  }
  .rosateam_item img {
    width: 90px;
  }
  .basictext {
    margin-top: 30px;
  }
  .footer_title h1 {
    font-size: 30px;
  }
  footer {
    padding-top: 20px;
  }
  .rocatext h1 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .sectionmoreinf {
    width: 100%;
    height: 230px;
    padding-top: 60px;
  }
  .moreimg_img {
    max-height: 200px;
  }
  .moreimg_info h1 {
    font-size: 18px;
  }
  .news_grap_img > img {
    height: 250px;
  }
  .forminputs > .forminput {
    width: 100%;
    margin-bottom: 10px;
  }
  .forminputs {
    flex-wrap: wrap;
  }
  .formtextarea textarea {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 420px) {
  .lasttext {
    width: 100%;
    right: 0px;
    padding: 0px 15px;
    bottom: 15px;
  }
  .line {
    width: 100%;
  }
}
