@font-face {
  font-family: "Jaapokki";
  src: url("../fonts/Jaapokki-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Glacial Indifference-Regular";
  src: url("../fonts/GlacialIndifference-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Poppins-extrabold";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Muli-Light";
  src: url("../fonts/Muli-Light.ttf");
}
@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.ttf");
}
@font-face {
  font-family: "Glacial Indifference-Bold";
  src: url("../fonts/GlacialIndifference-Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.myslides {
  background-color: #dddddd;
  max-width: 1600px;
  margin: 0px auto;
}
.header {
  position: relative;
  width: 100%;
  background-color: #dddddd;
}
.headeraboutme {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
}
.right_info {
  position: relative;
  top: -45px;
  max-width: 244px;
  width: 100%;
  text-align: center;
}
.headertext > h1 {
  font-family: "Poppins-extrabold";
  font-size: 40px;
  color: #1a1a1a;
  margin-bottom: -10px;
}
.headertext > span {
  font-family: "Montserrat-Regular";
  font-size: 13px;
  color: #b3b3b3;
}
.point {
  font-size: 33px;
  color: #0081ff;
}
.number {
  font-family: "Poppins-extrabold";
  color: #1c1c1c;
  font-size: 158.3px;
  position: relative;
  opacity: 0.5;
}
.info {
  font-family: "Poppins-extrabold";
  color: #373737;
  font-size: 43.17px;
  position: absolute;
  top: 95px;
  right: 25px;
}
.slide {
  display: block;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}
.slide img {
  max-width: 718px;
  width: 100%;
}

.icons {
  margin-top: 20px;
  letter-spacing: 10px;
}
.icons a > img {
  width: 25px;
  height: 25px;
}
.myprofese {
  max-width: 1170px;
  position: absolute;
  top: 50%;
  left: 0px;
  display: flex;
  justify-content: right;
  right: 0px;
  margin: 0px auto;
  margin-top: -94px;
  padding: 0px 15px;
  box-sizing: border-box;
}
.myprofesediv {
  max-width: 500px;
}
.myprofesediv span {
  font-family: "Glacial Indifference-Regular";
  display: block;
  margin-top: 7px;
}
.myprofese h1 b {
  font-family: "Glacial Indifference-Regular";
  font-size: 35px;
  display: block;
}
.myprofese h1 {
  font-family: "Poppins";
  font-size: 42px;
  color: #212121;
}
.myprofese > span {
  font-size: 23.29px;
  color: #212121;
}
.lasttext {
  color: #212121;
  font-size: 24px;
  position: absolute;
  right: 90px;
  bottom: 40px;
}
.precent {
  font-family: "Montserrat";
  margin-right: 9px;
  color: #e93656;
}
.precent span {
  font-family: "Montserrat-Bold";
  color: #212121;
}

.line {
  border-bottom: 6px solid #e93656;
  margin-top: 5px;
  width: 375px;
}
.container {
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutmesec {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
  align-items: center;
}
.aboutme {
  max-width: 343px;
}
.aboutme h1 {
  font-family: "Glacial Indifference-Bold";
  margin-bottom: 6px;
  font-size: 32px;
  color: #222222;
}
.aboutme h3 {
  font-family: "Muli";
  margin-bottom: 16px;
  font-size: 14px;
  color: #daae19;
}
.aboutme h4 {
  font-family: "Muli regular";
  margin-bottom: 30px;
  font-size: 17px;
  color: #555555;
}
.hireme a {
  font-family: "Glacial Indifference-Bold";
  display: inline-block;
  background-color: #e93656;
  padding: 15px 40px;
  color: #ffffff;
  font-size: 16px;
}
.hireme {
  text-align: right;
}
.mypicture {
  background-image: url("../images/section_img.jpg");
  width: 430px;
  height: 600px;
  background-size: cover;
}
.myskillsdiv h1 b {
  color: #e93656;
  margin-left: 5px;
}
.myskillsdiv h1 {
  font-family: "Glacial Indifference-Bold";
  font-size: 20px;
}
.myskills {
  max-width: 300px;
  width: 100%;
}
.myskillsdiv {
  margin-bottom: 20px;
}
.skillLine {
  width: 100%;
  height: 9px;
  background-color: #f0f0f0;
  margin-top: 8px;
  position: relative;
  overflow: hidden;
}
.skillLine span {
  position: absolute;
  height: 9px;
  background-color: #e93656;
  width: 0px;
  transition: width 1.5s;
}
.precent100 {
  width: 100% !important;
}
.precent90 {
  width: 90% !important;
}
.parent80 {
  width: 80% !important;
}
.parent85 {
  width: 85% !important;
}
.socials a {
  color: #6b6b6b;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.socials a:hover {
  background-color: #15263e;
  color: white;
}
.socials {
  margin-top: 40px;
}
.sectinfo {
  background-color: #131a36;
  padding: 60px 0px;
}
.sectinfoflex {
  display: flex;
  justify-content: space-between;
}
.borderrad {
  border: 4px dotted white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  line-height: 90px;
  transition-duration: 0.5s;
}
.borderrad i {
  font-size: 30px;
  color: #ffffff;
}
.borderrad:hover {
  border-color: #e93656;
  background-color: #e93656;
}
.sectinfoflex h1 {
  font-family: "Glacial Indifference-Bold";
  margin-bottom: 5px;
  color: #ffffff;
}
.sectinfoflex span {
  font-family: "Muli";
  color: #dfdfdf;
}

.myphone,
.useraddress,
.useremail {
  display: flex;
  align-items: center;
}
.moreinfo {
  padding-top: 100px;
}
.moreinfo div img span {
  display: block;
}
.websiteinfo,
.websiteinfotwo {
  display: flex;
  max-width: 1170px;
  margin: 0px auto;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.sectionmoreinf {
  width: calc(25% - 6px);
  height: 350px;
  background-color: #fafafa;
  text-align: center;
  padding-top: 120px;
  transition: background 0.5s;
}

.sectionmoreinf > img {
  margin-top: -10px;
  margin-bottom: 10px;
  height: 85px;
}
.sectionmoreinf > span {
  font-family: "Glacial Indifference-Bold";
  display: block;
  font-size: 22px;
  color: #222222;
  margin-bottom: 15px;
  line-height: 40px;
  letter-spacing: 1px;
}
.websiteinfotwo > div {
  width: 330px;
  height: 380px;
  background-color: #fafafa;
  margin: 8px;

  text-align: center;
  padding-top: 135px;
}
.sectionmoreinf > h3 {
  display: none;
  color: #ececec;
  letter-spacing: 1px;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}
.sectionmoreinf:hover img {
  display: none;
}
.sectionmoreinf:hover {
  background-color: #15263e;
}
.sectionmoreinf:hover span {
  color: #ffffff;
}
.sectionmoreinf:hover h3 {
  font-family: "Muli-Light";
  display: block;
  color: #ececec;
  font-size: 14px;
}
.section_evaluation > img {
  width: 100%;
  height: 750px;
}
.horizontalslide {
  background-image: url("../images/countdown.jpg");
  background-size: cover;
  padding: 100px 0;
  margin-top: 80px;
}
.evalutioninfo {
  display: flex;
  align-items: center;
}
.evalutiontext {
  font-family: "Roboto-light";
  max-width: 500px;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  margin-right: 60px;
}
.evalutioninfo > img {
  width: 170px;
  border: 4px dotted white;
  border-radius: 50%;
  padding: 15px;
}
.heavy {
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.evalutioninfo span {
  font-family: "Roboto-regular";
  font-size: 13px;
  color: #e93656;
}
.evalutioninfo h1 {
  font-family: "Glacial Indifference-Bold";
  margin-top: 7px;
  font-size: 28px;
  color: #ffffff;
}
.developeritem {
  margin-left: 35px;
  margin-top: -35px;
}
.basictext {
  font-family: "Glacial Indifference-Bold";
  text-align: center;
  font-size: 70px;
  color: #2e2e2e;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
}
.list_img {
  display: flex;
}
.sidelist {
  margin-right: 25px;
  width: 100%;
  max-width: 267px;
  background-color: #15263e;
  height: min-content;
  padding: 15px 0px;
}

.sidelist > h3 {
  font-family: "Glacial Indifference-Bold";

  font-size: 20px;
  color: #ffffff;
  margin: 10px 60px;
  line-height: 40px;
}
.button_click {
  cursor: pointer;
}
.button_click_active {
  color: #e93656 !important;
}
.moreimg_img > img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.moreimg_img {
  position: relative;
  width: 33.333%;
  max-height: 350px;
  object-fit: cover;
}
.moreimg {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
}
.moreimg_info {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
.moreimg_info img {
  width: 40px;
  padding: 7px;
  border: 1px solid red;
  border-radius: 50%;
}
.moreimg_info span {
  font-family: "Muli";
  display: block;
  margin: 7px 0px;
  font-size: 11px;
  color: #dddddd;
}
.moreimg_info h1 {
  font-family: "Glacial Indifference-Bold";
  font-size: 23px;
  color: #ffffff;
}
.moreimg_center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -46px;
}
.moreimg_info {
  display: none;
}
.moreimg_img:hover .moreimg_info {
  display: block;
}
.sidelist > h3 span:hover {
  color: #e93656;
}

.swiper {
  height: 170px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: inherit !important;
  background-color: transparent !important;
  border: 2px solid #fff;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  border-color: #e93656;
}
.news_title {
  width: 100%;
  margin-top: 90px;
  text-align: center;
}
.news_title > span {
  font-family: "Glacial Indifference-Bold";
  font-size: 13px;
  color: #2ed279;
}
.news_title > h1 {
  font-family: "Glacial Indifference-Bold";
  margin-bottom: 50px;
  font-size: 70px;
  color: #2e2e2e;
}
.news_items {
  justify-content: space-between;
  display: flex;
}
.news_grap_img {
  position: relative;
  width: 50%;
}
.news_graph {
  width: 50%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}
.news_graph_info > img {
  padding: 27px 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
}
.news_graph_info > span {
  font-family: "Muli";
  font-size: 14px;
  color: #888888;
}
.news_graph_info > h1 {
  font-family: "Glacial Indifference-Bold";
  font-size: 40px;
  color: #161616;
  margin-bottom: 15px;
}
.news_graph_info > h3 {
  font-family: "Muli";
  font-size: 16px;
  color: #494949;
  line-height: 20px;
}
.new_grap_readmore {
  margin-top: 10px;
}
.new_grap_readmore > a {
  font-family: "Muli";
  color: #444444;
}
.newgraph_img > img {
  margin-bottom: 16px;
}
.news_graph_info {
  max-width: 600px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: border-box;
}
.news_grap_img > img {
  display: block;
  max-height: 470px;
  object-fit: cover;
}
.new_graph_years {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #e93656;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 123px;
  background-color: #15263e;
}
.new_graph_years span {
  font-family: "Glacial Indifference-Bold";
  transform: rotate(-90deg);
}
.new_graph_year_right {
  right: 0px;
  left: initial;
}
/* .ADSADAS */
.rosa_team {
  margin: 80px 0px;
  width: 100%;
}
.rosa_title {
  text-align: center;
}
.rosa_title span {
  font-family: "Glacial Indifference-Bold";
  color: #2ed279;
  font-size: 14px;
}
.rosa_title h1 {
  font-family: "Glacial Indifference-Bold";
  font-size: 70px;
  color: #262526;
  margin-bottom: 40px;
}
.rosateam_item {
  width: 25%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  border: 4px solid transparent;
  box-sizing: border-box;
}
.rosateam_item:hover {
  border: 4px solid #e93656;
}
.rosateam_item:hover img {
  display: none;
}
.rosateam_item:hover .rosateam_client {
  display: block;
}
.rosateam_client h1 {
  font-family: "Poppins";
  font-size: 16px;
  color: #161616;
  margin-bottom: 10px;
}
.rosateam_client span {
  font-family: "Roboto-light";
  color: #626262;
  font-size: 13px;
}
.rosateam_client {
  display: none;
  max-width: 164px;
  text-align: center;
}
.rosateam_info {
  display: flex;
}
footer {
  background: url(../images/map.jpg);
  min-height: 200px;
  width: 100%;
  padding-top: 75px;
  position: relative;
}
footer::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.71;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
footer .container {
  position: relative;
  z-index: 1;
}
.footer_title {
  text-align: center;
}
.footer_title h1 {
  font-family: "Jaapokki";
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 6px;
}
.footer_title span {
  font-family: "Roboto-light";
  display: block;
  font-size: 17px;
  color: #eeeeee;
  margin-bottom: 32px;
}
.forminputs {
  width: 100%;
  display: flex;
}
.forminputs > .forminput {
  width: 33.333%;
  padding: 0px 5px;
  box-sizing: border-box;
}
.forminput input {
  font-family: "Poppins";
  padding: 18px;
  border: 0;
  outline: none;
  width: 100%;
}
.formtextarea textarea {
  margin-top: 10px;
  resize: none;
  width: 100%;
  border: 0;
  outline: none;
  height: 110px;
  padding: 18px;
}
.formtextarea {
  padding: 0px 5px;
}
.formbutton button {
  font-family: "Glacial Indifference-Bold";
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #e93656;
  color: #e93656;
  background: none;
  padding: 17px 30px;
}
.formbutton {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.footerroca {
  background-color: #282828;
  width: 100%;
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
.rocatext {
  max-width: 571px;
  margin: 0px auto;
  text-align: center;
}
.rocatext h1 {
  font-family: "Poppins-extrabold";
  font-size: 55.42px;
  padding-top: 60px;
  padding-bottom: 11px;
  color: #ffffff;
  text-align: center;
}
.dott {
  color: #e93656;
}
.rocatext span {
  font-family: "Roboto-regular";
  font-size: 17px;
  color: #a5a5a5;
}
.footericon a {
  color: #1eebd3;
  font-size: 20px;
  margin: 0px 10px;
}
.footericon {
  padding: 40px 0px;
}
.lastdiv {
  font-family: "Muli";
  background-color: #171717;
  font-size: 15px;
  color: #a0a8b7;
  text-align: center;
  padding: 25px 0px;
  position: relative;
  z-index: 1;
}
.lastdiv span {
  color: #ffffff;
}
.respon_img {
  display: none;
  width: 100%;
}
